@import '/src/variables.scss';
.author {
  @include flex(space-between, center, row);
}

.infoContainer {
  @include flex(center, center, row);
}

.info {
  margin-left: 10px;
}

.dark {
  color: $black;
}
.light {
  color: $white;
}
.follow {
  margin-right: 5px;
}
.likeButton {
  margin-left: 5px;
}
