@import '/src/variables';
.tags {
    border: 2px solid $black;
    border-radius: 5px;
    width: 30%;
    height: fit-content;
    margin-left: 30px;
    padding: 10px;
}

.tagContainer {
    width: fit-content;
    margin: 5px 5px 5px 0px;
}

.tagsList {
    @include flex(flex-start, center, row);
    flex-wrap: wrap;
}