@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

$primary: #1565c0;
$black: #3f3e3e;
$white: #ebebeb;
$lightGrey: rgb(202, 202, 202);
